/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
	background-color: #ffbd32;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: "Microsoft Yahei","Yahei",sans-serif;
}

#logo,#siteTitle,#profile,#navigation,#main,#footer {
	display: none;
}
/*=====================
footer 
=====================*/
#footer {
	position: fixed;
	bottom: -25%;
	left: 0;
	width: 100%;
	height: 25%;
	background: url(../img/bottom.png) center top no-repeat;
	z-index: 1;
}

#progress {
	width: 273px;
	height: 60px;
	background: url(../img/progress.png) center top no-repeat;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -137px;
}
#progress.step2 {
	background-position: center -60px;
}
#progress.step3 {
	background-position: center -120px;
}
#progress.step4 {
	background-position: center -180px;
}
#progress.step5 {
	background-position: center -240px;
}
#progress.step6 {
	background-position: center -300px;
}
#progress.step7 {
	background-position: center -360px;
}
#progress.step8 {
	background-position: center -420px;
}
#progress.step9 {
	background-position: center -480px;
}
.step {
	width: 11.1111%;
	height: 60px;
	
	float: left;
	display: inline-block;
	
	cursor: pointer;
}
/*=====================
main 
=====================*/
#main {
	width:960px;
	height: 450px;
	position: absolute;
	top:50%;
	left: 50%;
	margin-left:-480px;
	margin-top:-225px;
	text-align: center;
	z-index: 2;
}
.scene {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
}
.scene-diet-content {
	position: absolute;
}
.scene img {
	max-width: 100%;
	max-height: 100%;
}
/*=====================
header 
=====================*/
#header {
	position: fixed;
	top: 10px;
	left: 0;
	width: 100%;
	height: 150px;
}

#logo {
	position: absolute;
	left: -30px;
	top:0;
}
#siteTitle {
	position: absolute;
	left: 300px;
	top:-100px;
	font-size: 34px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	font-style: italic;
	color: #FFF;
}
/*=====================
profile 
=====================*/
#profile {
	position: absolute;
	top:-100px;
	right: 20px;
}
#profile-avatar, #share {
	float: right;
	display: inline-block;
}
#profile-avatar {
	width: 50px;
	height: 50px;
	border:5px solid #fff;
	background-color: #fad949;
	border-radius: 50%;
}
#profile-avatar .avatar {
	width: 48px;
	height: 48px;
	margin: 0 auto;
	position: relative;
}
#share a {
	color: #FFF;
	background: url(../img/share.png) left top no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	margin-right: 15px;
	margin-top: 5px;
}
#share #wechat:hover {
	background-position: left -48px;
}
#share #weibo {
	background-position: left -96px;
}

#share #weibo:hover {
	background-position: left -144px;
}
/*=====================
navigation 
=====================*/
#navigation {
	z-index: 3;
}
.navigator {
	width: 80px;
	height: 84px;
	overflow: hidden;
	color: #FFF;
	cursor: pointer;
	background: url(../img/navigator.png) no-repeat left top;
	line-height: 84px;
	text-align: center;
	font-size: 18px;
	position: absolute;
	top:40%;
	left: 20px;
}
.navigator:hover {
	background-position: left bottom;
}
.noPrev #prev {
	display: none;
}
.noNext #next {
	display: none;
}
#next {
	background-position: right top;
	right: 20px;
	left: auto;
}
#next:hover {
	background-position: right bottom;
}



/*=====================
loading 
=====================*/
.loading #navigation, .loading #progress{
	display: none;
}

#loading {
	width: 210px;
	height: 210px;
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -105px;
	margin-top: -105px;
	background: url(../img/loading-logo.png) no-repeat center center;
	display: none;
}

/*=====================
scenes 
=====================*/
/*
 * scene diet
 */
#refrigerator {
	width: 412px;
	height: 437px;
	position: relative;
}
#refrigerator-left, #refrigerator-right {
	width:45.5%;
	height: 94%;
	padding: 3% 2%;
	background-color: #3a3a3a;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/js/verdor/PIE.htc);
	position: absolute;
	top: 0;
}
#refrigerator-left {
	left: 0;
}
#refrigerator-right {
	right: 0;
}
#refrigerator-left-content,#refrigerator-right-content {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/js/verdor/PIE.htc);
}
#refrigerator-fitting1,#refrigerator-fitting2{
	width: 2%;
	height: 15%;
	background: #3a3a3a;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	
}
#refrigerator-fitting1 {
	top:20%;
}
#refrigerator-fitting2 {
	bottom: 20%;
}
.refrigerator-cell  {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/js/verdor/PIE.htc);
	background-color: #f0f0f0;
	overflow: hidden;
	position: absolute;
	left: 3%;
	cursor: pointer;
}
.refrigerator-cell:hover img,.refrigerator-cell.selected img{
	opacity: 1;
}
.refrigerator-cell:hover img{
	position: absolute;
	max-width: 120%;
	max-height: 120%;
	width: 110%;
	height: 110%;
	left: -5%;
	top: -5%;
}


.refrigerator-cell img {
	max-width: 100%;
	margin-right: 100%;
	opacity: 0.1;
}
#refrigerator .width-large {
	width: 94%;
}
#refrigerator .height-medium {
	height: 17.6%;
}
#refrigerator .height-large {
	height: 37.2%;
}
#refrigerator .width-medium {
	width: 50%;
}
#refrigerator .width-small {
	width: 41%;
}
#refrigerator .width-half {
	width: 46%;
}
#fruit {
	background:#f0f0f0 url(../img/scene/diet-fruit.png) no-repeat left top;
	background-size:100% auto;
}
#taste-spicy:hover, #taste-spicy.selected {
	background-color: #6e5f57;
}
#taste-sweet:hover, #taste-sweet.selected {
	background-color: #a9ddec;
}
#taste-meat:hover, #taste-meat.selected {
	background-color: #f0e1af;
}
#taste-vegetable:hover, #taste-vegetable.selected {
	background-color: #d4e4ae;
}
#taste-mix:hover, #taste-mix.selected {
	background-color: #c9f2ed;
}
#fruit:hover,#fruit.selected {
	background-color: #fcf0bb;
}
#fruit.fruit-degree-0 {
	background-position: 0 0;
}
#fruit.fruit-degree-1 {
	background-position: 0 -72px;
}
#fruit.fruit-degree-2 {
	background-position: 0 -144px;
}
#fruit.fruit-degree-3 {
	background-position: 0 -216px;
}
#drink-coke:hover,#drink-coke.selected {
	background-color: #b6e7dc;
}
#drink-beer:hover,#drink-beer.selected {
	background-color: #575146;
}
#drink-milk:hover,#drink-milk.selected {
	background-color: #d95633;
}
#drink-water:hover,#drink-water.selected {
	background-color: #336ed9;
}
#drink-juice:hover,#drink-juice.selected {
	background-color: #f0e1af;
}
#drink-tea:hover,#drink-tea.selected {
	background-color: #ddf5ae;
}
#drink-coffee:hover,#drink-coffee.selected {
	background-color: #d8cbbe;
}
#hint-taste {
	bottom: -10px;
	left: 5%;
}
#hint-fruit {
	right: 5%;
	top: 22%;
}
#hint-drink {
	right: 5%;
	bottom: -10px;
}
#me {
	background: url(../img/scene/me.png) no-repeat left top;
	width: 131px;
	height: 378px;
	background-size:100% auto;
	position: absolute;
	left: 50%;
	bottom: 5%;
}
#diningTable {
	width: 340px;
	height: 128px;
	background: url(../img/scene/diet-table.png) no-repeat left top;
	background-size:100% 100%;
	position: absolute;
	right: 0;
	bottom: 5%;
}


/**** health *******/
.health-degree {
	width: 12%;
	height: 80%;
	min-height: 320px;
	position: absolute;
	top: 0;
	
}
#mealCount {
	left: 0;
}
#drinking {
	left: 20%;
}
#smoke {
	left: 40%;
}
#sleep {
	left: 80%;
}
#sunBlock {
	left: 60%;
}
.health-degree-content {
	background-color: #2470a5;
	width: 80%;
	border-radius: 15px;
	border:8px solid #6994b2;
	height: 100%;
	cursor: pointer;
}
.meal ,.smoke,.sleep{
	height: 25%;
}
.drinking {
	width: 85%;
	position: absolute;
	left: 5px;
	top: 10px;
}
.sunBlock {
	width: 120%;
	position: absolute;
	left: -10%;
	top:0;
}
.drinking img,.sunBlock img {
	height: 100%;
	width: auto;
}
.meal img,.smoke img,.sleep img {
	height: 100%;
}
.health-degree-pin {
	width: 80px;
	height: 40px;
	background: url(../img/scene/health-pin.png) center center no-repeat;
	background-size:100% 100%;
	position: absolute;
	right: -20%;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
	
}
.health-degree-hint {
	position: absolute;
	top: 110%;
	text-align: center;
	color: #da6025;
}
#mealCount .onDegree-4 .health-degree-pin{
	top:20%;
}
#mealCount .onDegree-3 .health-degree-pin{
	top:45%;
}
#mealCount .onDegree-2 .health-degree-pin{
	top:70%;
}
#mealCount .onDegree-1 .health-degree-pin{
	top:95%;
}
#drinking .onDegree-3 .health-degree-pin{
	top:15%;
}
#drinking .onDegree-2 .health-degree-pin{
	top:58%;
}
#drinking .onDegree-1 .health-degree-pin{
	top:96%;
}
#drinking .health-degree-item {
	display: none;
}
#drinking .unselected .defaultShow {
	display: block;
}
#drinking .onDegree-3 #drinking-degree3{
	display: block;
}
#drinking .onDegree-2 #drinking-degree2{
	display: block;
}
#drinking .onDegree-1 #drinking-degree1{
	display: block;
}
#smoke .onDegree-4 .health-degree-pin{
	top:20%;
}
#smoke .onDegree-3 .health-degree-pin{
	top:45%;
}
#smoke .onDegree-2 .health-degree-pin{
	top:70%;
}
#smoke .onDegree-1 .health-degree-pin{
	top:95%;
}
#sunBlock .onDegree-3 .health-degree-pin{
	top:15%;
}
#sunBlock .onDegree-2 .health-degree-pin{
	top:58%;
}
#sunBlock .onDegree-1 .health-degree-pin{
	top:96%;
}
#sunBlock .health-degree-item {
	display: none;
}
#sunBlock .unselected .defaultShow {
	display: block;
}
#sunBlock .onDegree-3 #sunBlock-degree3{
	display: block;
}
#sunBlock .onDegree-2 #sunBlock-degree2{
	display: block;
}
#sunBlock .onDegree-1 #sunBlock-degree1{
	display: block;
}
#sleep .onDegree-4 .health-degree-pin{
	top:20%;
}
#sleep .onDegree-3 .health-degree-pin{
	top:45%;
}
#sleep .onDegree-2 .health-degree-pin{
	top:70%;
}
#sleep .onDegree-1 .health-degree-pin{
	top:95%;
}
/**** life *******/
#life-icons,#life-lines {
	position: absolute;
	left: 50%;
	top:50%;
	margin-top: -225px;
	margin-left: -300px;
	width: 600px;
	height: 450px;
}
#life-type {
	position: absolute;
	left: 50%;
	top:50%;
	width: 120px;
	height: 60px;
	margin-left: -100px;
	text-align: center;
	padding: 20px 40px;
	color: #e4600d;
}
.life-icon {
	position: absolute;
	width: 100px;
	height: 100px;
	cursor: pointer;
	
	margin-left: -50px;
	margin-top: -50px;
}
.life-icon:hover {
	transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari and Chrome */
}
#life-work-1 {
	background: url(../img/scene/life-air.png) left top no-repeat;
	left:35%;
	top:5%;
}
#life-work-2 {
	background: url(../img/scene/life-books.png) left top no-repeat;
	left:5%;
	top:25%;
}
#life-work-3 {
	background: url(../img/scene/life-phone.png) left top no-repeat;
	left: 0%;
	top:55%;
}
#life-work-4 {
	background: url(../img/scene/life-desktop.png) left top no-repeat;
	left:10%;
	top:80%;
}
#life-play-1 {
	background: url(../img/scene/life-game.png) left top no-repeat;
	left:65%;
	top:5%;
}
#life-play-2 {
	background: url(../img/scene/life-movie.png) left top no-repeat;
	left:92%;
	top:24%;
}
#life-play-3 {
	background: url(../img/scene/life-party.png) left top no-repeat;
	left:100%;
	top:50%;
}
#life-play-4 {
	background: url(../img/scene/life-sport.png) left top no-repeat;
	left: 90%;
	top:80%;
}
#life-play-5 {
	background: url(../img/scene/life-food.png) left top no-repeat;
	left:50%;
	top:95%;
}
#life-icons .life-icon {
	background-size:100% auto;
}
#life-center {
	width: 200px;
	height: 200px;
	position: absolute;
	margin-left: -100px;
	margin-top: -100px;
	left: 50%;
	top:50%;
	border-radius: 50%;
	background-color: #fad949;
}

/**** hint and tooltips *******/
.hint {
	background-color: #e1471c;
	border-radius: 5px;
	padding: 5px 10px;
	color: #FFF;
	font-size: 14px;
	position: absolute;
	min-width: 60px;
	display: none;
}
#tooltip {
	background-color: #fad949;
	border-radius: 60px;
	border:5px solid #FFF;
	color: #d83d14;
	text-align: center;
	padding: 5px 10px;
	font-size: 14px;
	width: auto;
	min-width: 40px;
	position: absolute;
	z-index: 999;
	display: none;
}
#tooltip .caret{
	position: absolute;
	background: url(../img/caret.png) no-repeat center top;
	width: 25px;
	height: 14px;
	left: 50%;
	margin-left: -13px;
	bottom: -14px;
	
}

/***************
Cleaning
***************/
.cleaning-shelfContainer {
	height: 115px;
	position: relative;
	padding: 0 20px;
}
.cleaning-shelf {
	height: 12px;
	width: 100%;
	
	background: #FFF;
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 6px solid #c8c9ba;
}
.cleaning-shelfSupport-left, .cleaning-shelfSupport-right{
	width: 12px;
	height:12px;
	border-radius: 50%;
	background-color: #4f5251;
	border:8px solid #c8c9ba;
	position: absolute;
	bottom: -15px;
}
.cleaning-shelfSupport-left {
	left:20%;
}
.cleaning-shelfSupport-right {
	right: 20%;
}
#cleaning-care {
	width: 400px;
	margin-top: 20px;
	
}
#cleaning-style {
	width: 300px;
	left: 155px;
	height: 140px;
}
#cleaning-tool {
	width: 270px;
	left: 180px;
	margin-top: 10px;
}

.cleaning-style {
	width: 70px;
	height: 125px;
	float: left;
	display: inline-block;
	cursor: pointer;
	background: url(../img/scene/style-icons.png) no-repeat center top;
}
.cleaning-care {
	width: 80px;
	height: 125px;
	float: left;
	display: inline-block;
	cursor: pointer;
	background: url(../img/scene/care-icons.png) no-repeat center top;
}
.cleaning-tool {
	width: 90px;
	height: 100px;
	margin-top: 3px;
	float: left;
	display: inline-block;
	cursor: pointer;
	background: url(../img/scene/tool-icons.png) no-repeat center top;
}
#cleaning-care {
	height: 140px;
}
#cleaning-vax {
	background-position: center -125px;
	background-size: 100px auto;
	width: 90px;
}
#cleaning-spray {
	background-position: center -250px;
	background-size: 100px auto;
}
#cleaning-moss {
	background-position: center top;
	background-size: 100px auto;
}
#cleaning-gel {
	background-position: center -375px;
	background-size: 100px auto;
	width: 70px;
}
#cleaning-shampoo {
	background-position: center top;
	background-size: 100px auto;
}
#cleaning-conditioner {
	background-position: center -125px;
	background-size: 100px auto;
}
#cleaning-mask {
	background-position: center -250px;
	background-size: 100px auto;
}
#cleaning-cream {
	background-position: center -375px;
	background-size: 100px auto;
}
#cleaning-inhair {
	background-position: center -500px;
	background-size: 100px auto;
}

#cleaning-drier {
	background-position: center top;
	background-size: 100px auto;
}
#cleaning-curling {
	background-position: center -100px;
	background-size: 100px auto;
}
#cleaning-flat {
	background-position: center -200px;
	background-size: 100px auto;
}
#cleaning-vax:hover,#cleaning-vax.selected {
	background-position: center -625px;
}
#cleaning-spray:hover,#cleaning-spray.selected {
	background-position: center -750px;
}
#cleaning-moss:hover,#cleaning-moss.selected {
	background-position: center -500px;
}
#cleaning-gel:hover,#cleaning-gel.selected {
	background-position: center -875px;
}
#cleaning-shampoo:hover,#cleaning-shampoo.selected {
	background-position: center -625px;
	background-size: 100px auto;
}
#cleaning-conditioner:hover,#cleaning-conditioner.selected {
	background-position: center -750px;
}
#cleaning-mask:hover,#cleaning-mask.selected {
	background-position: center -875px;
}
#cleaning-cream:hover,#cleaning-cream.selected {
	background-position: center -1000px;
}
#cleaning-inhair:hover,#cleaning-inhair.selected {
	background-position: center -1125px;
}

#cleaning-drier:hover,#cleaning-drier.selected {
	background-position: center -300px;
}
#cleaning-curling:hover,#cleaning-curling.selected {
	background-position: center -400px;
}
#cleaning-flat:hover,#cleaning-flat.selected {
	background-position: center -500px;
}
#cleaning-trash {
	width: 105px;
	height: 135px;
	position: absolute;
	bottom: 0px;
	left: 0;
}
#cleaning-trash-content {
	background-image: url(../img/scene/cleaning-trash.png);
	background-repeat: no-repeat;
	width: 105px;
	height: 135px;
	cursor: pointer;
	
	background-size: 105px auto;
}
.trash-unselected {
	background-position:center top;
	
}
.trash-1 {
	background-position: center -135px;
}
.trash-2 {
	background-position: center -270px;
}
.trash-3 {
	background-position: center -405px;
}
.trash-4 {
	background-position: center -540px;
}
#cleaning-trash-adjust {
	width: 100%;
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 0;
	bottom: -30px;
	font-size: 12px;
	color: #333;
}
.addButton,.removeButton {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #FFF;
	border-radius: 15px;
	border:5px solid #FFFFFF;
	position: absolute;
	cursor: pointer;
}
.addButton:hover,.removeButton:hover {
	transform: scale(1.5);
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
}
.addButton {
	left: -30px;
	top: 0;
	background-color: #ff6536;
}
.removeButton {
	right: -30px;
	top: 0;
	background-color: #10486f;
}
#shower {
	position: absolute;
	top: 5%;
	width: 40%;
	right: 10%;
}
#shower-head {
	background:url(../img/scene/shower-head.png) no-repeat center top;
	width: 90px;
	height: 70px;
	background-size: 100% 100%;
	margin: -20px auto 0;
}
#shower-frequency {
	position: relative;
	width:160px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	font-size: 14px;
	background: #FFF;
	text-align: center;
	margin: 0 auto;
	text-align: center;
}
#shower-frequency .addButton {
	left: 0;
}
#shower-frequency .removeButton {
	right: 0;
}
#shower-water {
	width: 60px;
	height: 220px;
	margin: 0 auto;
	position: relative;
}
#shower-time {
	width: 140px;
	height: 50px;
	border-radius: 10px;
	background: #FFF;
	margin: 20px auto 0;
	position: relative;
}
.shower-time-icon {
	width: 40px;
	height: 40px;
	border-radius: 30px;
	border:2px dashed #ffbd32;
	position: absolute;
	top:50%;
	margin-top: -20px;
	display: block;

}

#shower-time-day {
	left: 10%;
	background-color: #ff6536;
	background-image: url(../img/scene/cleaning-day.png);
}
#shower-time-night {
	right: 10%;
	background-color: #10486f;
	background-image: url(../img/scene/cleaning-night.png);
}
#shower-time-day:hover {
	background-color: #ff6536;
	border:#FFF 2px solid;
}
#shower-time-night:hover {
	background-color: #10486f;
	border:#FFF 2px solid;
}
#shower-time-day.unselected,#shower-time-night.unselected {
	background-color: #efefef;
}
.shower-time-icon {
	
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
.shower-time-icon:hover {
	transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari and Chrome */
}
.water-item {
	position: absolute;
	margin-left: -25px;
	top: 0;
	display: none;
}
#water-item-0 {
	left: 40%;
}
#water-item-1 {
	left: 65%;
}
#water-item-2 {
	left: 80%;
}
#water-item-3 {
	left: 30%;
}
#water-item-4 {
	left: 90%;
}
#water-item-5 {
	left: 20%;
}

/******* hair style ***********/
#hairstyle-length,#hairstyle-curl {
	position: relative;
	width: 200px;
	height: 200px;
	margin-bottom: 30px;
}
.hairstyle-circle {
	width: 150px;
	height: 150px;
	border-radius: 100px;
	background-color: #fde7b8;
	border:5px dashed #f39800;
}
.hairstyle-circle-dragable {
	width: 40px;
	height: 40px;
	background: #f39800;
	border:5px solid #bb471e;
	border-radius: 30px;
	position: absolute;
	left:50%;
	top:0;
	margin-left: -20px;
	margin-top:-20px;
}
#hairstyle-type {
	position: absolute;
	width: 264px;
	left: 50%;
	bottom: -20px;
	margin-left: -127px;
}
.hairtype-icon {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	border:3px #f39800 dashed;
	background-color: #fde7b8;
	float: left;
	display: block;
	margin-right: 10px;
}
#hairstyle-color {
	position: absolute;
	left: 70%;
	top:20%;
}
.haircolor {
	width: 200px;
	height: 50px;
	border-radius: 10px;
	position: absolute;
	left: 0;
	top: 0;
	
}
#haircolor-mix {
	background: #602016;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
#haircolor-black {
	background: #000;
	transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
}

#haircolor-gold {
	background: #d08200;
	transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
}
#haircolor-red {
	background: #8b3122;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.haircolor-hole {
	position: absolute;
	left: 10%;
	top: 50%;
	margin-top:-5px;
	width: 5px;
	height: 5px;
	border: 3px solid #FFF;
	background: #ffbd32;
	border-radius: 5px;
}
/******** character ************/
.character {
	
	position: relative;

}
.character-large-size {
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	zoom: 0.5\9;
	left:-106px;
	top:-302px;
}
.character-small-size {
	transform: scale(0.2);
	-webkit-transform: scale(0.2);
	-ms-transform: scale(0.2);
	zoom: 0.2\9;
	left:-187px;
	top:-485px;
}
#profile-avatar {
	overflow: hidden;
}
.head-only .clothes,.head-only .hand {
	display: none;
	background: none;
}
.fm {
	width: 423px;
	height: 1214px;
}
.body,.clothes,.head,.bang,.hair,.hand,.face{
	position: absolute;
}
.fm .body {
	background:url(../img/character/body-fm.png) no-repeat center top;
	width: 100%;
	height: 100%;
}
.fm .clothes {
	background:url(../img/character/clothes-fm.png) no-repeat;
	width: 100%;
	height: 1214px;
}
.fm .hair {
	background: url(../img/character/hair-fm.png) no-repeat;
	width: 100%;
	height: 600px;
}
.fm .bang {
	background: url(../img/character/bang-fm.png) no-repeat;
	width: 100%;
	height: 600px;
}
.fm .hair-black {
	background-image: url(../img/character/hair-fm-black.png);
}
.fm .hair-gold {
	background-image: url(../img/character/hair-fm-gold.png);
}
.fm .hair-mix {
	background-image: url(../img/character/hair-fm-mix.png);
}
.fm .bang-black {
	background-image: url(../img/character/bang-fm-black.png);
}
.fm .bang-gold {
	background-image: url(../img/character/bang-fm-gold.png);
}
.fm .bang-mix {
	background-image: url(../img/character/bang-fm-mix.png);
}
.fm .head {
	background: url(../img/character/head-fm.png) no-repeat;
	width: 100%;
	height: 240px;
}
.fm .hand {
	background: url(../img/character/hand-fm.png) no-repeat;
	height: 718px;
	width: 100%;
}
.fm .face {
	background: url(../img/character/face-fm.png) no-repeat;
	width: 100%;
	height: 240px;
}
.mirror-show {
	border-radius: 20px;
	width: 240px;
	height: 350px;
	border:2px #b78266 solid;
	overflow: hidden;
	background:#d2e9e7 url(../img/scene/mirror-light.png) 115% -15% no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -120px;
	top:50%;
	margin-top:-175px;
}
.mirror-show .character{
	left:-90px;
}
#character-profile {
	position: absolute;
}
.fm .hair-fm-band{ background-position: 0 0; width: 424px; height: 600px; } 
.fm .hair-fm-hand{ background-position: 0 -650px; width: 424px; height: 600px; } 
.fm .hair-fm-l-1{ background-position: 0 -1300px; width: 424px; height: 600px; } 
.fm .hair-fm-l-2{ background-position: -474px 0; width: 424px; height: 600px; } 
.fm .hair-fm-l-3{ background-position: -474px -650px; width: 424px; height: 600px; } 
.fm .hair-fm-l-4{ background-position: -474px -1300px; width: 424px; height: 600px; } 
.fm .hair-fm-m-1{ background-position: -948px 0; width: 424px; height: 600px; } 
.fm .hair-fm-m-2{ background-position: -948px -650px; width: 424px; height: 600px; } 
.fm .hair-fm-m-3{ background-position: -948px -1300px; width: 424px; height: 600px; } 
.fm .hair-fm-m-4{ background-position: -1422px 0; width: 424px; height: 600px; } 
.fm .hair-fm-pin{ background-position: -1422px -650px; width: 424px; height: 600px; } 
.fm .hair-fm-s-1{ background-position: -1422px -1300px; width: 424px; height: 600px; } 
.fm .hair-fm-s-2{ background-position: -1896px 0; width: 424px; height: 600px; } 
.fm .hair-fm-s-3{ background-position: -1896px -650px; width: 424px; height: 600px; } 
.fm .hair-fm-s-4{ background-position: -1896px -1300px; width: 424px; height: 600px; } 
.fm .hair-fm-s-5{ background-position: -2370px 0; width: 424px; height: 600px; } 
.fm .hair-fm-xl-1{ background-position: -2370px -650px; width: 424px; height: 600px; } 
.fm .hair-fm-xl-2{ background-position: -2370px -1300px; width: 424px; height: 600px; } 
.fm .hair-fm-xl-3{ background-position: -2844px 0; width: 424px; height: 600px; } 
.fm .hair-fm-xl-4{ background-position: -2844px -650px; width: 424px; height: 600px; } 
.fm .hair-fm-xs-1{ background-position: -2844px -1300px; width: 424px; height: 600px; } 
.fm .hair-fm-xs-2{ background-position: -3318px 0; width: 424px; height: 600px; } 
.fm .hair-fm-xs-3{ background-position: -3318px -650px; width: 424px; height: 600px; } 
.fm .hair-fm-xs-4{ background-position: -3318px -1300px; width: 424px; height: 600px; }

.fm .bang-fm-band{ background-position: 0 0; width: 424px; height: 600px; } 
.fm .bang-fm-hand{ background-position: 0 -605px; width: 424px; height: 600px; } 
.fm .bang-fm-l-1{ background-position: 0 -1210px; width: 424px; height: 600px; } 
.fm .bang-fm-l-2{ background-position: 0 -1815px; width: 424px; height: 600px; } 
.fm .bang-fm-l-3{ background-position: -429px 0; width: 424px; height: 600px; } 
.fm .bang-fm-l-4{ background-position: -429px -605px; width: 424px; height: 600px; } 
.fm .bang-fm-m-1{ background-position: -429px -1210px; width: 424px; height: 600px; } 
.fm .bang-fm-m-2{ background-position: -429px -1815px; width: 424px; height: 600px; } 
.fm .bang-fm-m-3{ background-position: -858px 0; width: 424px; height: 600px; } 
.fm .bang-fm-m-4{ background-position: -858px -605px; width: 424px; height: 600px; } 
.fm .bang-fm-pin{ background-position: -858px -1210px; width: 424px; height: 600px; } 
.fm .bang-fm-s-1{ background-position: -858px -1815px; width: 424px; height: 600px; } 
.fm .bang-fm-s-2{ background-position: -1287px 0; width: 424px; height: 600px; } 
.fm .bang-fm-s-3{ background-position: -1287px -605px; width: 424px; height: 600px; } 
.fm .bang-fm-s-4{ background-position: -1287px -1210px; width: 424px; height: 600px; } 
.fm .bang-fm-xl-1{ background-position: -1287px -1815px; width: 424px; height: 600px; } 
.fm .bang-fm-xl-2{ background-position: -1716px 0; width: 424px; height: 600px; } 
.fm .bang-fm-xl-3{ background-position: -1716px -605px; width: 424px; height: 600px; } 
.fm .bang-fm-xl-4{ background-position: -1716px -1210px; width: 424px; height: 600px; } 
.fm .bang-fm-xs-1{ background-position: -1716px -1815px; width: 424px; height: 600px; } 
.fm .bang-fm-xs-2{ background-position: -2145px 0; width: 424px; height: 600px; } 
.fm .bang-fm-xs-3{ background-position: -2145px -605px; width: 424px; height: 600px; } 
.fm .bang-fm-xs-4{ background-position: -2145px -1210px; width: 424px; height: 600px; } 

.fm .face-fm-1{ background-position: 0 0; width: 424px; height: 240px; } 
.fm .face-fm-2{ background-position: 0 -245px; width: 424px; height: 240px; } 
.fm .face-fm-3{ background-position: 0 -490px; width: 424px; height: 240px; }  

.fm .clothes-fm-0{ background-position: 0 0; width: 424px; height: 1214px; } 
.fm .clothes-fm-1{ background-position: 0 -1219px; width: 424px; height: 1214px; } 
.fm .clothes-fm-2{ background-position: -429px 0; width: 424px; height: 1214px; } 
.fm .clothes-fm-3{ background-position: -429px -1219px; width: 424px; height: 1214px; } 
.fm .clothes-fm-4{ background-position: -858px 0; width: 424px; height: 1214px; } 
.fm .clothes-fm-5{ background-position: -858px -1219px; width: 424px; height: 1214px; } 
.fm .clothes-fm-6{ background-position: -1287px 0; width: 424px; height: 1214px; } 



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
