<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	 <add name="pnt" connectionString="Data Source=localhost;Initial Catalog=pntDB;Integrated Security=SSPI;User ID=yaqizhao-pc\anizhao;Password=88458170;"/>
	  <!--<add name="pnt" connectionString="Data Source=seemeloo.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=db08gh0qy1rf2vb8;User ID=db08gh0qy1rf2vb8;Password=ui78910;"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
</configuration>