<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="pnt" connectionString="Data Source=localhost;Initial Catalog=pntDB;Integrated Security=SSPI;
User ID=yaqizhao-pc\anizhao;Password=88458170;"/>
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
	  <webServices>
	  <protocols>
		  <add name="HttpGet"/>
		  <add name="HttpPost"/>
	  </protocols>
	  </webServices>
  </system.web>
</configuration>